/*Importación fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Molengo&family=Oswald:wght@200..700&display=swap');

/*Modificación de las medidas estándar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos body*/
body {
    background-color: #cdd0e6;
    width:100%;
    overflow-x: hidden;
}

/*Estilos barra de desplazamiento*/
body::-webkit-scrollbar {
    width: 0.3rem;
}
 /*Estilos del deslizador*/
body::-webkit-scrollbar-thumb {
    background: linear-gradient(#abb7dd, #010a20);
    border-radius: 1rem;
}

/*Altura de las secciones de acuerdo al contenido*/
section {
    height: max-content;
    margin: 0;
}

/*Color de fondo del menú*/
.menu {
    background-color: #010a20;
}

/*Estilos título de sección About Me*/
.title {
    padding: 1.5rem;
    text-align: left;
    color: #66251D;
    font-family: "Oswald", serif;
    font-weight: 500; 
    font-style: normal;
    font-size: clamp(4rem, 3.6087rem + 1.7391vw, 5rem);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, -2px 2px 0 white, 2px 2px 0 white, 1px 1px white, 2px 2px white, 3px 3px white, 4px 4px white, 5px 5px white, 6px 6px white, 7px 7px white, 8px 8px white, 9px 9px white;
}

/*Estilos texto*/
.text {
    margin: 0;
    padding: 1.5rem;
    color: black;
    text-align: justify;
    font-size: clamp(1.8rem, 1.5261rem + 1.2174vw, 2.5rem);
    font-family: "Molengo", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

/*Estilos columnas Aspiraciones*/
.col_a {
    text-align: center;
    padding: 15px;
}

/*Estilos columnas Aspiraciones al hacer hover*/
.col_a:hover {
    border: 1px solid #ff2d7544;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 2px 4px 0px rgba(20,20,20, 0.3);
    .items__title {
        text-shadow: 0px 0px 9px white;
    }
}

/*Estilos títulos de las secciones con alineación centrada*/
.title__sections {
    padding: 2rem;
    text-align: center;
    color: #5c0b27;
    font-family: "Lilita One", sans-serif;
    font-weight: 500; 
    font-style: normal;
    font-size: clamp(3.5rem, 2.913rem + 2.6087vw, 5rem);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, -2px 2px 0 white, 2px 2px 0 white, 1px 1px white, 2px 2px white, 3px 3px white, 4px 4px white, 5px 5px white, 6px 6px white, 7px 7px white, 8px 8px white, 9px 9px white;
}

/*Estilos subtítulo Aspiraciones*/
.items__title {
    color: white;
    font-family: "Lilita One", sans-serif;
    font-weight: 400; 
    font-style: normal;
    font-size: 3.5rem;
    text-align: center;
}

/*Estilos imágenes aspiraciones*/
.items__image {
    text-align: center;
    width: 80%;
    border-radius: 20px;
}

/*Estilos texto aspiraciones*/
.items__text {
    color: white;
    text-align: justify;
    font-size: 1.5rem;
    font-family: "Molengo", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    padding: 20px;
}

/*Estilos logos sección Conocimientos Técnicos */
.logos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*Estilos de cada ícono*/
.icons {
    width: 7rem;
    height: 7rem;
    padding: 10px;
    margin-bottom: 4rem;
    border-radius: 20px;
}

/*Estilos de cada ícono al hacer hover*/
.icons:hover {
    box-shadow: 4px 4px 6px 2px rgb(255, 255, 255, 0.6);
}

/*Eliminar línea inferior texto sección proyectos*/
.link {
    text-decoration: none;
}

/*Estilos columnas proyectos*/
.col__proyects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem;
}

/*Estilos columnas proyectos al hacer hover*/
.col__proyects:hover {
    border: 1px solid #ff2d7544;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 2px 2px 4px 0px rgba(20,20,20, 0.3);
    /*Estilos título de Proyectos al hacer hover*/
    .proyects__title {
        text-shadow: 0px 0px 9px rgb(255, 255, 255, 0.3);
    }
}

/*Estilos títulos proyectos*/
.proyects__title {
    text-decoration: none;
    color: white;
    font-family: "Lilita One", sans-serif;
    font-style: normal;
    text-shadow: 0px 0px 9px rgb(255, 255, 255, 0.1);
    letter-spacing: .1em;
    font-weight: 500; 
    font-style: normal;
    font-size: 3rem;
}

/*Estilos imágenes proyectos*/
.proyects__image {
    width: 80%;
    border-radius: 20px;
    box-shadow: 5px 5px 7px 3px rgb(1, 10, 32, 0.6);
}

/*Estilos contenedor bóton Ver más*/
.enlace {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*Estilos bóton Ver más*/
.boton {
    background-color: #010a20;
    color: white;
    text-decoration: none;
    font-family: "Oswald", serif;
    font-weight: 200; 
    font-style: normal;
    font-size: clamp(1.8rem, 1.5261rem + 1.2174vw, 2.5rem);
    padding: 5px 10px;
    border-radius: 10px;
    width: max-content;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/*Estilos bóton Ver más al hacer hover*/
.boton:hover {
    color: black;
    border: 1px solid #AD9D5F;
    background-color: #e7e3cd;
    transform: translateX(3px);
    box-shadow: 2px 2px 4px 0 rgb(173, 157, 95, 0.5);
}

/*Estilos columnas certificados*/
.col__certificados {
    text-align: center;
    padding: 1.5rem;
}

/*Estilos tercera columna certificados*/
.col__certificados--left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
}

/*Estilos imágen certificados*/
.certificados__image {
    width: 22rem;
    height: 14rem;
    border-radius: 20px;
    box-shadow: 5px 5px 7px 3px rgb(255, 255, 255, 0.3);
}

/*Estilos títulos certificados*/
.certificados__title {
    text-decoration: none;
    color: white;
    font-family: "Oswald", serif;
    font-weight: 500; 
    font-style: normal;
    font-size: 3rem;
    text-align: center;
}

/*Estilos columnas certificados al hacer hover*/
.col__certificados:hover {
    background: #00071a;
    box-shadow: 3px 3px 5px 2px rgb(255, 255, 255, 0.5);
    .certificados__title {
        text-shadow: 0px 0px 9px white;
    }
}

/*Estilos tercera columna certificados al hacer hover*/
.col__certificados--left:hover {
    background: #00071a;
    box-shadow: 3px 3px 5px 2px rgb(255, 255, 255, 0.5);
    /*Estilos títulos certificados al hacer hover*/
    .certificados__title {
        text-shadow: 0px 0px 9px white;
    }
}


/*Estilos contenedor del texto de contacto*/
.contact__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-image: url(../images/contacto.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

/*Estilos texto contenedor contacto*/
.contacto__text {
    backdrop-filter: blur(10px); /*Filtro de background del texto*/
    color: white;
    font-family: "Oswald", serif;
    font-weight: 400; 
    font-style: normal;
    font-size: clamp(2.2rem, 1.887rem + 1.3913vw, 3rem);
    padding: 10px 30px;
    opacity: 3;
    text-align: center;
}

/*Estilos  título "Perfil Profesional"*/
.contacto__title {
    margin: 3rem;
    text-align: center;
    color: white;
    font-family: "Oswald", serif;
    font-weight: 700; 
    font-style: normal;
    font-size: clamp(3.5rem, 2.5217rem + 4.3478vw, 6rem);
    text-shadow: 0px 0px 9px white;
    backdrop-filter: blur(10px);
    padding: 10px 30px;
}

/*Estilos bóton de redireccionamiento al email*/
.email{
    font-family: "Overlock", sans-serif;
    font-weight: 700;
    background:#010a20;
    text-decoration: none;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:2em;
    padding: 2rem 1rem;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .email:hover{
    background:#fff;
    color:#010a20;
  }
  .email:before, .email:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #010a20;
    transition:400ms ease all;
  }
  .email:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .email:hover:before, .email:hover:after{
    width:100%;
    transition:800ms ease all;
  }

/*Estilos pie de página*/
footer {
    background: #02081f;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 5rem;
    width: 100%;
}

/*Estilos contenedor pie de página*/
.name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #02081f;
}

/*Estilos nombre pie de página*/
.name__text {
    color: white;
    font-family: "Overlock", sans-serif;
    font-weight: 200; 
    font-style: normal;
    font-size: clamp(1.8rem, 1.7217rem + 0.3478vw, 2rem);
    padding: 2rem 1rem;
}
/*Estilos contenedor logos*/
.links { 
    justify-content: flex-end;
    align-items: center;
    padding: 2rem;
}

/*Estilos de cada logo*/
.icon__link {
    width: 3rem;
    padding: 5px;
    border-radius: 50%;
}

/*Estilos de cada logo al hacer hover*/
.icon__link:hover {
    box-shadow: 4px 4px 6px 2px rgb(255, 255, 255, 0.6);
}

/*Iconos*/
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 1rem;
}

.btn-social {
    position: relative;
    width: 50px;
    height: 50px;
    font-size: 24px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease;
}

.btn-social:hover {
    transform: scale(1.05);
}

.soc-label {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    opacity: 0;
    transition: 0.3s all ease;
}

.btn-social:hover .soc-label {
    opacity: 1;
    top: -32px;
}

.lk {
    background-color: #0077b5;
    color: white;
}

.gh {
    background-color: black;
    color: white;
}

/*Modificaciones en los estilos en pantalla de mínimo 1024px*/
@media screen and (min-width: 1024px) {
    #about_me {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: center;
    }
    .menu {
        width: 35%;
    }
    .photo {
        padding: 2rem;
    }
    .aboutme {
        width: 65%;
    }
}

/*Modificaciones en los estilos en pantalla de máximo 768px*/
@media screen and (max-width: 768px) {

}