/*Importación de las fuentes*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/*Modificación de las medidas estándar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilos del body*/
body {
    background: linear-gradient(128deg, rgba(255,255,255,1) 0%, rgba(2,8,31,1) 0%, rgba(11,22,59,1) 100%);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*Estilos Navbar*/
.logo {
    letter-spacing: .1em;
    text-shadow: 
      0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 
      0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #02081f;
    color: white;
}

nav .bars {
    position: absolute;
    right: 1rem;
    font-size: xx-large;
    display: none;
}

nav.active {
    flex-direction: column;
    align-items: flex-start;
}

ul.nav-links {
    display: flex;
}

/* responsive */
nav.active ul.nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

li.nav-link {
    list-style: none;
    margin: 0.5rem 1rem;
    padding: 0.4rem;
    display: flex;
    align-items: center;
}

li.nav-link:hover {
    border-bottom: 2px solid #FF057C;
}

li.nav-link a {
    text-decoration: none;
    color: inherit;
    font-family: "Overlock", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8rem;
}

@media screen and (max-width: 800px) {
    nav .bars {
      display: block;
    }
  
    nav .nav-links {
      display: none;
    }
}

/*Estilos background*/
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 
    0 0 50px #4fc3dc,
    0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even){
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 
    0 0 50px #ff2d75,
    0 0 100px #ff2d75;
}
@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}
/*Estilos subtítulo "Portafolio"*/
.text1{
    margin: 3rem;
    color: white;
    font-family: "Oswald", serif;
    font-weight: 300; 
    font-style: normal;
    font-size: clamp(2rem, 1.6087rem + 1.7391vw, 3rem);
}

/*Texto dentro del direccionamiento a home*/
.text__click {
    text-decoration: none;
}

/*Estilos título "Nombre" */
.text__title {
    margin: 3rem;
    text-align: center;
    color: white;
    font-family: "Oswald", serif;
    font-weight: 700; 
    font-style: normal;
    font-size: clamp(2.8rem, 1.7435rem + 4.6957vw, 5.5rem);
    text-shadow: 0px 0px 9px white;
}

/*Estilos botón redireccionamiento home*/
.button {
    margin: 3rem;
    color: black;
    background-color: #cdd0e6;
    padding: 10px;
    border-radius: 1rem;
    font-size: clamp(2rem, 1.6087rem + 1.7391vw, 3rem);
    font-family: "Molengo", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

/*Estilos al hacer hover en el botón*/
.button:hover {
    background-color: #d8d7d2;
    transform: translateX(3px);
    box-shadow: 2px 2px 4px 0 rgb(250, 249, 249, 0.5);
}

/*Modificaciones en los estilos en pantalla de mínimo 1024px*/
@media screen and (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .container__image {
        width: 50%;
    }
    
    .image {
        width: 100%;
    }
    
    .container__text {
        width: 50%;
    }
    .text__title {
        position: relative;
        top: 8rem;
    }
    .button {
        position: relative;
        top: 16rem;
    }
}

/*Modificaciones en los estilos en pantalla de máximo 768px*/
@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    .container__image {
        width: 100%;
    }
    
    .image {
        width: 100%;
    }
    
    .container__text {
        width: 100%;
    }
}
